<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 align="center">GoalPositive Users</h1>
        <hr>
        
        <div class="well">
            <h3 class="search-bar-title"><a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                <% if params[:search].nil? %>
                    Search for Users
                <% else %>
                    Search for Users - <%= params[:search] %>
                <% end %>
            </a></h3>
            
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="users-index-search">
                        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control" %>
                            <%= submit_tag "Search", :name => nil, class: "form-control" %>
                        <% end %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="row">
    <% @users.each_with_index do |user, index| %>
        <div class="col-md-3">
            <%= link_to user_path(user), class: "user-index-path" do %>
                <div class="well user-index-well user-index-elements">
                    <!-- <%= index %> -->
                    <div class="user-index-username">
                        <h4><%= user.username %></h4>
                    </div>
                    <div class="user-index-email">
                        <p><%= user.email %></p>
                    </div>
                    <div class="user-index-friends">
                        <% if logged_in? %>
                            <% if !current_user.friend_with?(user) %>
                                <small>
                                <%= link_to "Add Friend", friendships_path(:friend_id => user),
                                            :method => :post %>
                                </small>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
        
<% if @users.blank? %>
    <h4 align="center">There are no usernames containing the term <%= params[:search] %></h4>
<% end %>