<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well well-white">
            <%= @user.username %>
            <%= @user.email %>
        </div>
        
        <% @user_goals.each do |goal| %>
            <div class="well">
                <strong>Goal: </strong><%= goal.name %>
                <hr>
                <strong>Description: </strong><%= goal.description %>
                <div class="show-goal-links">
                    <%= link_to "Show Goal", goal_path(goal), class: 'btn btn-xs btn-primary' %>
                <% if logged_in? && (current_user == goal.user) || current_user.admin? %>
                    <%= link_to "Edit Goal", edit_goal_path(goal), class: 'btn btn-xs btn-warning' %>
                    <%= link_to "Delete Goal", goal_path(goal), method: :delete, data: {confirm: "Are you sure?"},
                    class: 'btn btn-xs btn-danger' %>
                <% end %>
                
                <% if logged_in? && (current_user == goal.user) %>
                    <div class="user-show-updates">
                        <small><%= link_to "Add an Update", new_update_path(goal) %></small>
                    </div>
                <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>