<h1 align="center">Home Page</h1>

<br>

<div class="home-page-explore">
    <h3 class="home-page-explore-two"><a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
        <div class="plz">Explore GoalPositive</div>
    </a></h3>
    
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body explore-buttons-div">
            <%= link_to "Explore Goals", goals_path, class: 'btn btn-primary home-' %>
            <%= link_to "Find Friends", users_path, class: 'btn btn-primary' %>
            <%= link_to "About Us", about_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="home-page-goals-outer-div">
        <% @all_goals.each do |goal| %>
            <% if logged_in? %>
                <!-- Use == for equality in conditional statements such as if, unless, etc -->
                <!-- Used goal.user.id as without id we get the error DEPRECATION WARNING: You are passing an instance of ActiveRecord::Base to `exists?` in console -->
                <% if goal.status == "Public" || current_user.friends.exists?(goal.user.id) && goal.status == "Semi Private" || goal.user == current_user %>
                    <%= link_to goal_path(goal) do %>
                        <div class="row home-page-goals">
                            <div class="col-md-4 col-md-offset-1 home-goal-name">
                                <h2><%= goal.name %></h2>
                            </div>
                            <div class="col-md-4 home-goal-description">
                                <h4><%= goal.description %></h4>
                            </div>
                            <div class="col-md-3 home-goal-username">
                                <h4><%= goal.user.username %></h4>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <%= link_to goal_path(goal) do %>
                    <div class="home-page-goals">
                        <% if goal.status == "Public" %>
                            <div class="home-page-goals">
                                <h2><%= goal.name %></h2>
                                <h4><%= goal.description %></h4>
                                <h4><%= goal.user.username %></h4>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>