<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well well-border">
            <strong>Title: </strong><%= @update.title %>
            <hr>
            <strong>Description: </strong><%= @update.update_description %>
            <div class="update-show-buttons">
                <% if logged_in? && @update.user == current_user || current_user.admin? %>
                    <%= link_to "Edit Update", edit_goal_update_path(@update), class: 'btn btn-xs btn-warning' %>
                    <%= link_to "Delete Update", goal_update_path(@update), class: 'btn btn-xs btn-danger', 
                        method: :delete, data: { confirm: "Are you sure?" } %>
                    <% if logged_in? && (current_user == @goal.user) %>
                        <div class="update-show-updates">
                            <small><%= link_to "Add another update", new_goal_update_path(@goal) %></small>
                        </div>
                    <% end %>
                <% end %>
                
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading well-border">
                <h4="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Click to reply
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <!-- Trying to allow a comment form to be generated in the update#show action -->
                    <%= render 'comments/update_form' %>
                </div>
            </div>
        </div>
        
        <% @update.comments.each do |comment| %>
            <div class="update-comments">
                <small><b><%= @update.user.username %>: </b></small>
                <br>
                <%= comment.name %>
                <hr>
            </div>
        <% end %>
        
    </div>
</div>