<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 align="center">GoalPositive Goals</h1>
        <hr>
        
        <div class="well">
            <h3 class="search-bar-title"><a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                <% if params[:search].nil? %>
                    Search for Goals
                <% else %>
                    Search for Goals - <%= params[:search] %>
                <% end %>
            </a></h3>
            
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="users-index-search">
                        <%= form_tag(goals_path :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control" %>
                            <%= submit_tag "Search", :name => nil, class: "form-control" %>
                        <% end %>
                    </form>
                </div>
            </div>
        </div>
        <% @goals.each do |goal| %>
            <%= link_to goal_path(goal) do %>
                <div class="user-goals-text-elements">
                    <div class="row goals-index-hover">
                        <div class="col-md-4">
                            <h1 class="color-light-blue"><%= goal.name %></h1>
                        </div>
                        <div class="col-md-4 goal-index-description">
                            <h4><%= goal.description %></h4>
                        </div>
                        <div class="col-md-4 goal-index-username">
                            <h4><%= goal.user.username %></h4>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>