<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h4 align="center">Goal</h4>
        <div class="well well-border goal-show-well">
            <strong>Goal: </strong><%= @goal.name %>
            <hr>
            <strong>Description: </strong><%= @goal.description %>
            <div class="show-goal-links">
                <% if logged_in? && (current_user == @goal.user) %>
                    <%= link_to "Edit Goal", edit_goal_path(@goal), class: 'btn btn-xs btn-primary' %>
                    <%= link_to "Delete Goal", goal_path(@goal), class: 'btn btn-xs btn-danger', method: :delete %>
                    
                <% end %>
                <div class="goal-show-votes">
                    <%= link_to like_goal_path(@goal), method: :put do %>
                        <i class="fa fa-thumbs-o-up"></i>
                        <%= @goal.get_upvotes.size %>
                    <% end %>
                    <%= link_to unlike_goal_path(@goal), method: :put do %>
                        <i class="fa fa-thumbs-o-down"></i>
                        <%= @goal.get_downvotes.size %>
                    <% end %>
                </div>
            </div>
            <% if logged_in? && (current_user == @goal.user) %>
                <div class="goal-show-updates">
                    <small><%= link_to "Add an Update", new_goal_update_path(@goal) %></small>
                </div>
            <% end %>
        </div>
        
        <h4 align="center">Comments</h4>
        <% if logged_in? %>
            <div class="panel panel-default">
                <div class="panel-heading well-border">
                    <h4="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                            Click to reply
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <%= render 'comments/goal_form' %>
                    </div>
                </div>
            </div>
        <% end %>
        
        <% @goal.comments.each do |comment| %>
            <div class="goal-comments">
                <small><b><%= comment.user.username %>: </b></small>
                <br>
                <%= comment.name %>
                <hr>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-5">
        <h4 align="center">Updates <h6 class="update-addition"></h4>
        <% @goal.updates.each do |update| %>
            <div class="well well-border goal-show-update-well">
                <strong>Title: </strong><%= update.title %>
                <hr>
                <%= update.update_description.truncate_words(50) %>
                <div class="show-update-links">
                    <%= link_to "View Update", goal_update_path(@goal, update), class: 'btn btn-xs btn-primary' %>
                    <% if logged_in? && current_user = update.user || current_user.admin? %>
                        <%= link_to "Edit Update", edit_goal_update_path(@goal, update), class: 'btn btn-xs btn-warning' %>
                        <%= link_to "Delete Update", goal_update_path(@goal, update), class: 'btn btn-xs btn-danger',
                        method: :delete, data: { confirm: "Are you sure?" } %>
                    <% end %>
                    <div class="voting">
                        <%= link_to like_goal_update_path(@goal, update), method: :put do %>
                            <i class="fa fa-thumbs-o-up"></i>
                            <%= update.get_upvotes.size %>
                        <% end %>
                        <%= link_to unlike_goal_update_path(@goal, update), method: :put do %>
                            <i class="fa fa-thumbs-o-down"></i>
                            <%= update.get_downvotes.size %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
