<div class="row">
    <div class="col-md-6">
        <h4 align="center">Goal</h4>
        <div class="well">
            <strong>Goal: </strong><%= @goal.name %>
            <hr>
            <strong>Description: </strong><%= @goal.description %>
            <% if @goal.user = current_user || current_user.admin? %>
                <div class="show-goal-links">
                    <%= link_to "Edit Goal", edit_goal_path(@goal), class: 'btn btn-xs btn-primary' %>
                    <%= link_to "Delete Goal", goal_path(@goal), class: 'btn btn-xs btn-danger', method: :delete %>
                    <% if logged_in? && (current_user == @goal.user) %>
                        <div class="goal-show-updates">
                            <small><%= link_to "Add an Update", new_goal_update_path(@goal) %></small>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        
        <h4 align="center">Comments</h4>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                        Click to reply
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= render 'comments/goal_form' %>
                </div>
            </div>
        </div>
        
        <% @goal.comments.each do |comment| %>
            <div class="goal-comments">
                <small><%= @goal.user.username %></small>
                <br>
                <%= comment.name %>
                <hr>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-6">
        <h4 align="center">Updates - <h6 class="update-addition"></h4>
        <% @goal.updates.each do |update| %>
            <div class="well">
                <strong>Title: </strong><%= update.title %>
                <hr>
                <%= update.update_description %>
                <div class="show-update-links">
                    <%= link_to "View Update", goal_update_path(@goal, update), class: 'btn btn-xs btn-primary' %>
                    <% if logged_in? && current_user = update.user || current_user.admin? %>
                        <%= link_to "Edit Update", edit_goal_update_path(@goal, update), class: 'btn btn-xs btn-warning' %>
                        <%= link_to "Delete Update", goal_update_path(@goal, update), class: 'btn btn-xs btn-danger',
                        method: :delete, data: { confirm: "Are you sure?" } %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>